.TimeHeading{
    align-items: center;
   
    display: flex;
    justify-items: center;
    
    justify-content: center;
    margin: 10px;
    
}
.TimeHeading h1,p{
    margin:0 5em
}
.TimeHeading button{
    margin:0 5em;
    width: 5rem;
    height: 2rem;
    padding: 2px;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: rgb(170, 153, 153);
    color: white;
    border: none;
    outline: none;
    box-shadow: 0 2px 1px rgb(206, 194, 194) , 0 -2px 3px white;;
    position: absolute;
    top: 10px;
    right: 20px;

}
